.container {
  min-height: 100vh;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin:auto;
  
}

.home_image{
  width:90vw;
  height: auto;
  margin:20px auto;
  max-width: 1080px;
  
}
.home_image img{
  height:100%;

  width:100%;max-height: 600px;
}
.posts{
  width:90vw;
  max-width: 1080px;
  margin:auto;
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem;
}